<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @store.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @store.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @store.website %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @store.contact_name %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @store.terms %>
</p>

<p>
  <strong>Albums ordered:</strong>
  <%= @store.albums_ordered %>
</p>

<p>
  <strong>Date of last order:</strong>
  <%= @store.date_of_last_order %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @store.notes %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
